/* ========================= */
/* PARTICLES CANVAS */
/* ========================= */

.particles-canvas {

  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;

  z-index: 2;

  opacity: 0;

  animation: particlesFadeIn 2s ease forwards;

}

@keyframes particlesFadeIn {

  from { opacity: 0; }
  to { opacity: 0.75; }

}


/* ========================= */
/* PARTICLES FADE IN */
/* ========================= */

@keyframes particlesFadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }

}


/* ========================= */
/* BACKGROUND VIDEO */
/* ========================= */

.bg-video {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: 0;

  opacity: 1;

  transform: translateZ(0);

}


/* ========================= */
/* MAIN CONTENT LAYER */
/* ========================= */

.main-content {

  position: relative;

  z-index: 3;

}


/* ========================= */
/* OPTIONAL ATMOSPHERIC OVERLAY */
/* (very subtle cinematic effect) */
/* ========================= */

.atmosphere-overlay {

  position: fixed;

  inset: 0;

  background:
    radial-gradient(
      circle at center,
      rgba(255,255,255,0.03) 0%,
      rgba(0,0,0,0.15) 100%
    );

  z-index: 1;

  pointer-events: none;

}


/* ========================= */
/* PERFORMANCE OPTIMIZATION */
/* ========================= */

canvas {

  image-rendering: optimizeSpeed;

  image-rendering: -webkit-optimize-contrast;

}


/* ========================= */
/* PREVENT WHITE FLASH */
/* ========================= */

body {

  background: black;

}


/* ========================= */
/* MOBILE OPTIMIZATION */
/* ========================= */

@media (max-width: 768px) {

  .particles-canvas {

    animation-duration: 1.5s;

    opacity: 0.5;

  }

}